Package: com.xsxs18.tweakpilot
Name: TweakPilot
Version: 1.1
Architecture: iphoneos-arm
Description: Floating control panel for your tweaks, device stats and quick actions.
Maintainer: xsxs18-dev
Author: xsxs18-dev
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate (>= 0.9.5000)
Homepage: https://github.com/xsxs18-dev/Tweakpilot
